.formContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 padding-top: 200px;
 width: 60%;
 margin: auto;

}

.inputContainer {
  width: 100%;
    padding-bottom: 10px;
}

.input, .submitButton {

width: 100%;
  height: 40px;
  border-radius: 3px;
  border-color: rgba(0,0,0,0.2);

}

.submitButton {
  background-color: rgba(0, 255, 0, 0.3);
  font-size: 120%;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: rgba(0, 255, 0, 0.4);
  cursor: pointer;
  font-size: 120%;
}
